<%= form_for(@teams) do |f| %>


  <div class="field">
    <%= f.label :team %>
    <%= collection_select(:Countries,
      :team_id,
      Countries.all,
      :id,
      :name,
      {:include_prompt => 'Please select'}) 

      # <option value=":id">:name</option>
    %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
