<div id="map-container"> 
 <%= @borough %>
  <% place = @places.businesses[0] %>
    <%= place.name %>
    <% address = place.location.display_address.join(" ") %>
    <% latitude = get_coords(address)["lat"] %>
    <% longitude = get_coords(address)["lng"] %>
      <div id="map_canvas"></div>
      <div class="place_info" data-latitude="" data-longitude=""></div>
      <address>
        <%= place.location.display_address.join(" ") %>
      </address> <br>
      <%= link_to "Citymapper", "https://citymapper.com/directions?endcoord=#{latitude},#{longitude}&endname=#{place.name}&endaddress=#{place.location.display_address.join(' ')}", :target => '_blank', class:"button" %>
</div>


