// Place all the styles related to the Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#map_canvas{
  width: 500px;
  height: 300px;
}

p {
  font-size: 13px;
  color: white;
  font-family: Helvetica, Arial;
}

body {
  margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
}

.thumb {
  margin-bottom: 30px;
}

footer {
  margin: 50px 0;
}

h1 {
  font-family: Helvetica, Arial;
  color: white;
  font-size: 40px;
  text-align: center;
}

h2 {
  font-family: Helvetica, Arial;
  color: white;
  font-size: 16px;
}

.text {
  font-family: Helvetica, Arial;
  color: white;
  font-size: 13px;
}

.pure-button{margin-bottom: 5px;display:inline-block;*display:inline;zoom:1;line-height:normal;white-space:nowrap;vertical-align:baseline;text-align:center;cursor:pointer;-webkit-user-drag:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.pure-button::-moz-focus-inner{padding:0;border:0}.pure-button{font-family:inherit;font-size:100%;*font-size:90%;*overflow:visible;padding:.5em 1em;color:#444;color:rgba(0,0,0,.8);*color:#444;border:1px solid #999;border:0 rgba(0,0,0,0);background-color:#E6E6E6;text-decoration:none;border-radius:2px}.pure-button-hover,.pure-button:hover,.pure-button:focus{filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000', GradientType=0);background-image:-webkit-gradient(linear,0 0,0 100%,from(transparent),color-stop(40%,rgba(0,0,0,.05)),to(rgba(0,0,0,.1)));background-image:-webkit-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));background-image:-moz-linear-gradient(top,rgba(0,0,0,.05) 0,rgba(0,0,0,.1));background-image:-o-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));background-image:linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1))}.pure-button:focus{outline:0}.pure-button-active,.pure-button:active{box-shadow:0 0 0 1px rgba(0,0,0,.15) inset,0 0 6px rgba(0,0,0,.2) inset}.pure-button[disabled],.pure-button-disabled,.pure-button-disabled:hover,.pure-button-disabled:focus,.pure-button-disabled:active{border:0;background-image:none;filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);filter:alpha(opacity=40);-khtml-opacity:.4;-moz-opacity:.4;opacity:.4;cursor:not-allowed;box-shadow:none}.pure-button-hidden{display:none}.pure-button::-moz-focus-inner{padding:0;border:0}.pure-button-primary,.pure-button-selected,a.pure-button-primary,a.pure-button-selected{background-color:#0078e7;color:#fff}

address {
  font-family: Helvetica, Arial;
  color: white;
  font-size: 15px;
  text-align: left;
  margin-left: 170px;
}

#name {
  margin-top: 12px;
  font-family: Helvetica, Arial;
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-left: 170px;
  text-align: left;
}
.header {

  height: 700px;
  width: 80%;
  margin: auto;
  background-color: #7BA901; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  height: 100%;
  width: 100%;
}

.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}



.button {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ffffff) );
  background:-moz-linear-gradient( center top, #ffffff 5%, #ffffff 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff');
  background-color:#ffffff;
  -webkit-border-top-left-radius:20px;
  -moz-border-radius-topleft:20px;
  border-top-left-radius:20px;
  -webkit-border-top-right-radius:20px;
  -moz-border-radius-topright:20px;
  border-top-right-radius:20px;
  -webkit-border-bottom-right-radius:20px;
  -moz-border-radius-bottomright:20px;
  border-bottom-right-radius:20px;
  -webkit-border-bottom-left-radius:20px;
  -moz-border-radius-bottomleft:20px;
  border-bottom-left-radius:20px;
  text-indent:0;
  border:1px solid #ffffff;
  display:inline-block;
  color:#7ba901;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:65px;
  line-height:65px;
  width:131px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #ffffff;
  margin-bottom: 10px;
} 

#country-container {
  width: 225px;
  float: left;
  margin: auto;
}

#map-container {
  width:400px;
  margin-left: 30px;
  float: left;
}

#right-side{
  float: right;
}