<!DOCTYPE html>
<html>
<head>
  <title>World Cup Pub Crawl Generator</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript"src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC8HiyveEyJTxzksXUco0fBbSb1MqSsA4&sensor=false"></script>

  <script type="text/javaScript" src="maps.js"></script> 
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Random World Cup Pub Crawl Generator</h1>
    <p>Find us during working hours at:</p>
    <div id="map_canvas"></div>
    <address>
      9 Back Hill <br>
      Clerkenwell <br>
      London  <br>
      EC1R 5EN
    </address> <br>
    <address>
       Karen House <br>
       1-11 Bache's Street <br>
       London <br>
       EC2R 8HP
   </address>



<%= yield %>

</body>
</html>
